/.internal
/build
.externalToolBuilders
.DS_Store
Thumbs.db
.lock-wscript
*.pyc
.project
.cproject
builtins

x86_64-win32/
x86_64-macos/
js-web/
armv7-android/

manifest.private.der
manifest.public.der
debug.keystore
debug.keystore.pass.txt
